* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

body{ 
     
    background:#151517;
    min-height:100vh;
    background-size:cover;
    background-position: center center;

}
 
/*title bar css*/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 7%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
    text-decoration:none;
    height:50px;
    font-size: 2em;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
    
  
  /* Mobile Nav */
  menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
  





























/*body*/
.cyber{
    background:url(../picture/backpic.jpg);
    background-size:cover;
    width:auto;
    height: 850px;
}
.container{
    position:relative;
      
    display:flex;
    justify-content:left;
    align-items: left;
    max-width:1200px;
    flex-wrap:wrap;
    z-index: wrap;
     padding-right:0px;


}

.container .card{
    position:relative;
    width: 600px;
    height:400px;
    margin:10px;
     
    border-radius:15px;
    background:rgba(89, 17, 177, 0.644);
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: left;
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);

}

.container .card .content{
    padding:20px;
    text-align: center;
    transition: 0.5s;

}


.container .card .content h2{
    position:absolute;
    top:-80px;
    right:30px;
    font-size: 8em;
    color:rgba(255,255,255,0.05);
     
}
.container .card .content h3{
    font-size:4.5em;
    color:#fff;
    z-index:1;
}

.container .card .content p{

    font-size:1em;
    color:#fff;
    font-weight:300;

}
.container .card .content a{

    position:relative;
    display:inline-block;
    padding:8px 20px;
    margin-top:15px;
    background : #fff;
    color:#000;
    border-radius :20px;
    text-decoration:none;
    font-weight:500;
    

}
.bn{
    padding-left: 45px;
    align-items: center;
    padding-right: 500%;
    padding-top: 45%;
}


.container2{
    position:relative;
    display:flex;
    justify-content:right;
    align-items: right;
    max-width:1200px;
    flex-wrap:wrap;
    z-index: wrap;
     padding:0px;


}

.container2 .card{
    position:relative;
    width: 600px;
    height:800px;
    margin:-300px;
     
    border-radius:15px;
    background:rgba(89, 17, 177, 0.644);
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: left;
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);

}

.container2 .card .content{
    padding:0px;
    text-align: center;
    transition: 0.5s;

}


.container2 .card .content h2{
    position:absolute;
    top:-80px;
    right:30px;
    font-size: 8em;
    color:rgba(255,255,255,0.05);
     
}
.container2 .card .content h3{
    font-size:4.5em;
    color:#fff;
    z-index:1;
}

.container2 .card .content p{

    font-size:1em;
    color:#fff;
    font-weight:300;

}
.container2 .card .content a{

    position:relative;
    display:inline-block;
    padding:8px 20px;
    margin-top:15px;
    background : #fff;
    color:#000;
    border-radius :20px;
    text-decoration:none;
    font-weight:500;
    

}
.bn{
    padding-left: 45px;
    align-items: center;
    padding-right: 500%;
    padding-top: 45%;
}
 
.best h2{
    
    font-size: 3.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     padding-left:40px;
}
/*best seller*/
.wrape{
    background-color:#151517;
}
.wrapper{
    margin: 100px;
    display:flex;
    width:70%;
    justify-content:space-around;
    background:#151517;

}
.card{
    width:280px;
    height: 360px;
    padding:2rem 1rem;
    background:#fff;
    position:relative;
    display:flex;
    align-items:flex-end;
    box-shadow:5px 7px 10px rgba(128, 26, 26, 0.5);
    transition:0.5s ease-in-out;

}
.card:hover{
    transform:translateY(20px);
}

.card:before{
    content:"";
    position:absolute;
    top: 0;
    left:0;
    display:block;
    width:100%;
    height:100%;
     /*background:linear-gradient(to bottom,rgb(0,176, 155, 0),rgb(125, 64, 125));*/
    z-index: 2;
    transition:0.5s all 0.5s;
    opacity:1;
}
.card:hover:before{
    opacity: 1;

}
.card img{
    width:100%;
     height:100%;
     object-fit:cover;
     position:absolute;
     top:0;
     left:0;
}
.card .info{
    position:relative;
    z-index:3;
    color:#fff;
    opacity:0; 
    transform:translateY(30px);
    transition:0.5s all;
}
.card:hover .info{
    opacity:1;
    transform:translateY(0px);
}
.card .info h1{
    margin:0;

}
.card .info p{
    letter-spacing:1px;
    font-size:15px;
    margin-top:8px;
    margin-bottom:20px;
}
.card .info .btn{
    text-decoration:none;
    padding:0.5rem 1rem ;
    background:#fff;
    color:#000;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
    transition:0.4s ease-in-out;
}
.card .info .btn:hover{
    box-shadow:0px 7px 10px rgba(201, 42, 42, 0.5);
}

.spe{
    background:#2c2c30;
}

.seller{
     padding-left: 10%;
     padding-right: 1%;
    margin: center;
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    max-width:1200px;
    flex-wrap:wrap;
    z-index: wrap;

}

.seller .cards{
    position:relative;
    width: 280px;
    height:400px;
    margin:30px;
     
    border-radius:15px;
    background:rgba(255, 255, 255, 0.1);
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);

 
 
box-shadow:5px 7px 10px rgba(128, 26, 26, 0.5);
 
}
.seller .cards:hover{
    transform:translateY(20px);
}
.seller.cards:before{
    content:"";
    position:absolute;
    top: 0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    background:linear-gradient(to bottom,rgb(0,176, 155, 0),rgb(125, 64, 125));
    z-index: 2;
    transition:0.5s all 0.5s;
    opacity:1;
}

.seller .cards:hover:before{
    opacity:1;
}
.art5{
    background:#2c2c30;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        
.swiper{
    width:1100px;
}

section .crd .image{
    height:140px;
    width:140px;
    border-radius:50%;
    padding:3px;
    background:#7d2ae8;
}
section .crd .image img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius:50%;
    border:3px solid #fff;
}
.crd{
    position:relative;
    background:#fff;
    border-radius:20px;
    margin:20px 0px;
    width:280px;
    height:280px;
}
.crd::before{
    content:"";
    position:absolute;
    height:40%;
    width:100%;
    background:#7d2ae8;
    border-radius:20px 20px 0 0;
}



.crd .crd-cnent{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px;
    position:relative;
    z-index:100;
}
.crd .media-icons{
    position: absolute;
    top:10px;
    right:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.crd .media-icon i{
    color:#fff;
    opacity:0.6;
    margin-top:10px;
    transition:all 0.3 ease;
    cursor:pointer;

}
.crd .media-icon i:hover{
    opacity:1;
}

.crd .name-profession{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:10px;
    color:#333;   
}
.crd .name-profession .name{
    font-size:20px;
    font-weight:600;
}
.name-profession .profession{
    font-size:15px;
    font-weight:500;
}
.crd .button {
    display:flex;
    justify-content:space-around;
    margin-top:5px;
}

.crd .button button{
    background:#7d2ae8;
    outline:none;
    border:none;
    color:#fff;
    padding:8px 22px;
    border-radius:20px;
    font-size:14px;
    transition:all 0.3s ease;
    cursor:pointer;
}
.button button:hover{
    background:#e722af;
}



.mht img{
    align-items:center;
    padding-right:5px;
    padding-left:5px;
    width:100%;
    height:70vh;
    
}


.mhmt{
    font-size:20px;
    
   
}
.banner img{
     padding-right:5px;
    padding-left:5px;
    width:100%;
    height:70vh;
    
}
.banner{
    position:relative;
    width:100%;
    margin:0 auto;
}
 
.rwo{
     
    position:absolute;
    top:20%;
     width:100%;
      text-align:center;
       font-size:3rem;
       text-shadow:5px 5px 10px #000000;
}
.rwo h2{ 
    color:#fff;
    font-size:4rem ;
    text-shadow:5px 5px 10px #000000;
    font-weight:bold;
}
.rwo h2 img{
    margin:-170px;
}
.rwo h3{ color:white;
font-size:2rem;
padding-top:1px;
font-family: times, "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mhtt{
    font-size:20px;

}
.baner{
    position:relative;
    width:100%;
    margin:0 auto;

}
.baner img{
    padding-right:5px;
    padding-left:5px;
    width:100%;
    height:70vh;

}
.wor{
    position:absolute;
    top:20%;
     width:100%;
      text-align:center;
       font-size:3rem;
       text-shadow:5px 5px 10px #000000;
}
.wor h2{ 
    color:#fff;
    font-size:4rem ;
    text-shadow:5px 5px 10px #000000;
    font-weight:bold;
}
.wor h3{ color:white;
font-size:2rem;
padding-top:1px;
font-family: times, "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wor .button button { 
    margin-top:5px;
    background:#7d2ae8;
    outline:none;
    border:none;
    color:#fff;
    padding:10px 42px;
    padding-top:10px;
    border-radius:20px;
    font-size:14px;
    transition:all 0.3s ease;
    cursor:pointer;
}
.button button:hover{
    background:#cd1616;
}


.................................


.box{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
}
.form-box{
    padding:10px;
    border-radius:5px;
      
     
}
.form-box input{
    font-size: 18px;
    color:#000;
    padding:15px 10px 10px 10px;
    border:none;outline:none;
    background:rgb(238, 243, 243);
}
.form-box button{
    color:#FFFFFF;
    padding:15px 20px 10px 10px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    background:#17547c;
    cursor:pointer;
    transition:.3s;
}
.form-box button:hover{
    background:red;
}




 /*product page*/
 

 
 
 
 
 
 
 
 /*end*/





















































































































































/*footer*/ 
 
footer{
    position:relative;
    width:100%;
    background:#3586ff;
    min-height:100px;
    padding:20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;

}
footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10;
    flex-wrap: wrap;
    
}
footer .social_icon li, footer .menu li{
    list-style: none;

}
footer .social_icon li a{
    font-size: 30px;/*size of social media icon */
    font-style: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}
footer .social_icon li a:hover{
    transform: translate(-9px);
}


footer .menu li a{
     font-style: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover {
    opacity: 1;
}

footer p{
    color:#fff;
    text-align:center;
    margin-top:15px;
    margin-bottom:10px;
    font-size:1.1em;
}
footer .wave{
    position:absolute;
    top:-100px;
    left:0;
    width:100%;
    height:100px;
    background:url(../picture/.png);
    background-size:1000px 100px;
}



footer .wave#wave1{
    z-index:1000;
    opacity: 1;
    bottom:0;
    animation:animateWave 4s linear infinite;
}
footer.wave#wave2{
    z-index:999;
    opacity:0.5;
    bottom:10px;
    animation:animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index:1000;
    opacity: 0.2;
    bottom: 15px;
    animation:animateWave 3s linear infinite;
}
footer.wave#wave4{
    z-index:999;
    opacity:0.7;
    bottom:20px;
    animation:animateWave_02 3s linear infinite;
}









@keyframes animateWave{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

